.container {
    display: flex;
}

.game-board {
    width: 75%;
    border-right: 1px solid #e2e2e2;
}

.leader-board {
    width: 25%;
    text-align: center;
    padding: 10px;
}

.leaders {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.leader-item {
    padding: 10px 30px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
    background-color: #a4acb5;
    color: #484e52;
    margin-bottom: 5px;
}
.user {
  background-color: darkseagreen;
}

.active {
  background-color: dodgerblue;
}

.system {
  background-color: red;
}

.menu {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    position: relative;
}

.message {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.table-container {
    display: flex;
    justify-content: center;
}

select {
    background: transparent;
    overflow: hidden;
}

.dropdown {
    transform: translate(-5%);
}

.dropdown select {
    font-weight: bold;
    background-color: lightslategrey;
    color: #484e52;
    padding: 10px 30px;
    width: 250px;
    border: none;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    border-radius: 2px;
}

.dropdown::before {
    content: "⌄";
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 23px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
}

.dropdown:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
}

.input {
    padding: 10px 30px;
    background-color: #e2e2e2;
    border-radius: 3px;
    color: #484e52;
    font-weight: bold;
    margin: 0 10px;
    outline: none;
    border: none;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}

.button {
    padding: 10px 30px;
    background-color: lightslategrey;
    border-radius: 3px;
    color: #484e52;
    font-weight: bold;
    margin: 0 10px;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}

.button:hover {
    background-color: #778899d1;
}


table {
    width: 50%;
    border-collapse: collapse;
}

td {
    width: 3%;
    position: relative;
    cursor: pointer;
}

td:after {
    content: '';
    display: block;
    margin-top: 100%;
}

table, th, td {
    border: 1px solid #e2e2e2;
}

